<div class="mt-3"></div>
<div class="card" style="max-width:100%">
<div class="card__content">
<div markdown="1">
***Welcome!!*** I am Dr. Bernat Font (he/his), Assistant Professor in **Data-Informed Computational Fluid Dynamics (CFD)** at [TU Delft](https://www.tudelft.nl/staff/b.font/). My main research interest focuses on exploiting data to improve current CFD methods in terms of performance, optimization, and modelling. I also enjoy working in the numerical methods and high-performance computing side of CFD.

Some of my current projects involve:
<div markdown="1" style="list-style-type:none; margin-left:40px">
* CFD solver acceleration using generative machine-learning (ML) models
* Deep reinforcement learning for active flow control
* Scale-resolving simulation for high-speed flows using low- and high-order methods
* ML wall modelling for non-equilibrium boundary layers
* PDE discovery from raw data using ML and sparse regression
* [`WaterLily.jl`](https://github.com/weymouth/WaterLily.jl): A Julia CFD solver using finite-volume and immersed-boundary methods with backend-agnostic execution (CPU/GPU)
* [`Flower1D.jl`](https://github.com/b-fg/Flower1D.jl): Flux reconstruction fluid flow solver for 1D PDEs written in Julia
</div>

I advocate for open-science.
Most of my papers have an e-print version you can download for free.
The codes I write are also open-source, and you can find them in [my Github repository](https://github.com/b-fg).
Please feel free to get in touch for questions, suggestions, or collaborations.
<p style="text-align: center;">:ocean:</p>
</div>

</div>
</div>
