<div class="mt-3"></div>
<div class="card" style="max-width:100%">
<div class="card__content">
<div markdown="1">
***Welcome!*** I am Dr. Bernat Font (he/his), Postdoctoral Researcher of the [Large-scale Computational Fluid Dynamics (CFD) Group](https://www.bsc.es/discover-bsc/organisation/research-departments/large-scale-computational-fluid-dynamics) at the Barcelona Supercomputing Center focusing on turbulence modelling, deep learning and data-driven models, numerical methods, and high-performance computing.

Some of my current projects involve:
<div markdown="1" style="list-style-type:none; margin-left:40px">
* Scale-resolving simulation for high-speed flows using low- and high-order methods
* Data-driven LES wall models
* Deep reinforcement learning for active flow control
* Physics-based machine learning for flow field interpolation
* `Flower.jl`, a flux reconstruction high-order solver written in Julia
</div>

I advocate for open-science.
Most of my papers have an e-print version you can download for free.
The codes I write are also open-source, and you can find them in [my Github repository](https://github.com/b-fg).
Please feel free to get in touch for questions, suggestions, or collaborations.

:blush::cyclone::ocean:
</div>

</div>
</div>