<div class="mt-3"></div>

<div class="card" style="max-width:100%">
    <div class="card__content">
        <!-- <img class="image image--lg" src="/assets/images/me.svg" align="right" style="margin-top:10px; margin-right:-17px"/> -->
        <h4>Contact and CV</h4>
        <p>Feel free to checkout my <a class="item__header" href="https://raw.githubusercontent.com/b-fg/CV.tex/master/main.pdf" target="_blank"> CV </a> and my <a class="item__header" href="https://www.linkedin.com/in/{{ _author.linkedin}}" target="_blank"> LinkedIn </a> profile. </p>
        <p><ul style="padding-left:15px">
        <li> <b>Email</b>: bernatfontgarcia AT gmail DOT com</li>
        <li> <b>Office</b>: Delft University of Technology, Faculty of Mechanical Engineering<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mekelweg 2, 2628 CD Delft (The Netherlands)<br></li>
        </ul></p>
    </div>
</div>