<div class="mt-3"></div>

<div class="card" style="max-width:100%">
    <div class="card__content">
        <h4><p style="text-align:center; font-weight: bold;">Contact</p></h4>
        <p><ul style="padding-left:15px">
        <li> <b>Email</b>: <a class="item__header" href="mailto:b.font@tudelft.nl" target="_blank"> b.font@tudelft.nl </a></li>
        <li> <b>Office</b>: Faculty of Mechanical Engineering, Delft University of Technology<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mekelweg 2, 2628 CD Delft (The Netherlands)<br></li>
        </ul></p>
        <p>Feel free to checkout Bernat's <a class="item__header" href="https://raw.githubusercontent.com/b-fg/CV.tex/master/main.pdf" target="_blank"> CV </a> and <a class="item__header" href="https://www.linkedin.com/in/{{ _author.linkedin}}" target="_blank"> LinkedIn </a> profile, or the <a class="item__header" href="/group">group members</a> page.
        </p>
    </div>
</div>