<footer>
	<hr>
	<p align="center">
		<a display: inline-block href="mailto:b.fontgarcia@soton.ac.uk" class="fa fa-envelope social_links" 
		aria-hidden="false"></a>
		<a display: inline-block href="https://twitter.com/bernat_font" class="fa fa-twitter social_links" 
		aria-hidden="false"></a>
		<a href="https://github.com/b-fg" class="fa fa-github social_links" aria-hidden="false"></a>
		<a href="https://www.linkedin.com/in/bernatfontgarcia/" class="fa fa-linkedin social_links" 
		aria-hidden="false"></a>
		<p align="center">©2019 Bernat Font Garcia</p>

	</p>
</footer>
