<div class="mt-3"></div>
<div class="card" style="max-width:100%">
    <div class="card__content">
        <p><b>Funding acknowledgements</b></p>
        <div style="display: flex; gap: 20px; align-items: center; justify-content: center; margin-top: 15px;">
            <a href="https://www.nwo.nl" target="_blank" rel="noopener noreferrer">
                <img src="/assets/images/logo/nwo.png" alt="NWO" style="height: 200px;">
            </a>
            <a href="https://eurohpc-ju.europa.eu" target="_blank" rel="noopener noreferrer">
                <img src="/assets/images/logo/eurohpc.png" alt="EuroHPC" style="height: 160px;">
            </a>
        </div>
    </div>
</div>