<a style="font-weight: 300; font-size: 16px" href="/research" title="Google Scholar">Research</a>
<a style="font-weight: 300; font-size: 16px" href="/pages/publications" title="Google Scholar">Publications</a>

<a style="font-weight: 300; font-size: 25px" href="https://scholar.google.co.uk/citations?hl=en&user=FSwTh_gAAAAJ" class="ai ai-google-scholar ai-2x", title="Google Scholar"></a>
<a style="font-weight: 300; font-size: 25px" href="https://orcid.org/0000-0002-2136-3068" class="ai ai-orcid ai-2x" title="ORCiD"></a>
<a style="font-weight: 300; font-size: 30px" href="/cv/CV_Bernat_Font.pdf" class="ai ai-cv ai-2x" title="Curriculum Vitae"></a>