<a href="https://scholar.google.co.uk/citations?hl=en&user=FSwTh_gAAAAJ" class="ai ai-google-scholar ai-2x", title="Google Scholar"></a>
<a href="https://orcid.org/0000-0002-2136-3068" class="ai ai-orcid ai-2x" title="ORCiD"></a>
<!-- <a style="font-size: 28px;
    width: 50px;
    height: 50px;
    line-height: 60px;" href="http://github.com/b-fg" class="icon-github social-button borderlessgreu no-animation static" size=20px></a>
<a style="font-size: 30px;
    line-height: 60px;" href="http://twitter.com/bernat_font" class="icon-twitter social-button borderlessgreu no-animation static"></a> -->
<a href="/cv/cv.pdf" class="ai ai-cv ai-2x" title="Curriculum Vitae"></a>