/*- Custom style -*/

// -- Put custom style under this point -- //
#nav {
 min-height:66px;
}

@font-face {
    font-family: 'vera_sans_mono';
    src: url('../fonts/veramono-webfont.woff2') format('woff2'),
         url('../fonts/veramono-webfont.woff') format('woff'),
         url('../fonts/veramono.ttf')  format('truetype');
    color: "FFFFFF"
}

@import url('http://fonts.googleapis.com/css?family=Droid+Sans');

a.mail_link:link, a.mail_link:visited, a.mail_link:active 
{
	font-family: 'vera_sans_mono', sans-serif;
    color: #000000;
    text-decoration: none

}


a.text_link:link, a.text_link:visited, a.text_link:active 
{
    color: #0000FF;
    text-decoration: none
}