<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.username }}">
    <img
      class="repo-card w-100"
      alt="{{ include.username }}"
      src="https://github-readme-stats-theta-blond-81.vercel.app/api/?username={{ include.username }}&theme={{ site.repo_theme }}&show_icons=true"
    >
  </a>
</div>
